---
import "../styles/vehicle.css";
// import Case from "../components/Case.astro";

import {Image} from 'astro:assets';
import car1 from "../images/vehicle/car1.png";
import car2 from "../images/vehicle/car2.png"; 
import car3 from "../images/vehicle/car3.png";
import car4 from "../images/vehicle/car4.png";
import car5 from "../images/vehicle/car5.png";
import car6 from "../images/vehicle/car6.png";
import left_arrow from "../images/vehicle/left_arrow_carousel.svg";

const elements = [
    {
        title: "Securite",
        content: "Une solution fiable pour vos trajets grace a des ceintures innovantes, un systeme de controle de pression des pneus et un freinage performant.",
        position: "top",
    },
    {
        title: "Confort",
        content: "Un confort exceptionnel pour tous les passagers, grâce à ses sièges réglables, son habitacle spacieux et ses équipements de confort.",
        position: "right",
    },
    {
        title: "Ergonomie",
        content: "Une abondante luminosité grâce à une vaste surface vitrée. Un pare-brise incliné et des fenêtres arrière permettent profiter au maximum de la vue.",
        position: "bottom",
    },
    {
        title: "Modularite",
        content: "Une transition aisée de 9 places à 5 places ainsi qu’un espace de rangement repondant a n’importe lequel de vos besoins.  ",
        position: "left",
    },
];

// the template to display the cards :
// <div class="container">
//     <div class="vehicle__description">
//         {elements.map(element => (
//             <div data-position={element.position}>
//                 <Case title={element.title}, content={element.content} />
//             </div>
//         ))}
//     </div>
// </div>
---
<script src="../scripts/carousel.js"></script>

<section class="vehicle" id="vehicule" aria-labelledby="vehicleheader">
    <div class="container">
        <h2 class="vehicle__title heading" id="vehicleheader">le vehicule</h2>
    </div>
    <div class="carousel">
        <div class="carousel__position__handle">
            <div class="carousel__container">
                <button class="handle left_handle" aria-label="image precedente">
                    <Image class="arrow" src={left_arrow} alt="left-arrow" />
                </button>
                <div class="slider">
                    <img class="photo" src={car1.src} alt="front view">
                    <img class="photo" src={car2.src} alt="rear view" />
                    <img class="photo" src={car3.src} alt="side view" />
                    <img class="photo" src={car4.src} alt="wheel view" />
                    <img class="photo" src={car5.src} alt="inside view" />
                    <img class="photo" src={car6.src} alt="front view" />
                </div>
                <button class="handle right_handle" aria-label="image suivante">
                    <Image class="arrow" src={left_arrow} alt="right-arrow" />
                </button>
            </div>
        </div>
        <div class="progress_bar"></div>
    </div>
</section>

